<section class="kg-pagefly-image-home-section-new kg-image-banner-2">
    <div class="kg-inner-hero-content">
        <div class="page-width">
             {% if section.settings.desktop_image != blank %}
            <div class="kg-desktop-image">
                 <img src="{{ section.settings.desktop_image | image_url }}">
            </div>
               {% endif %}
             {% if section.settings.mobile_image != blank %}
              <div class="kg-mobile-image">
                <img src="{{ section.settings.mobile_image | image_url }}">
            </div>
            {% endif %}
        </div>
    </div>
</section>
<style>
        section.kg-pagefly-image-home-section-new {
          background: #241F21;
          position: relative;
      }
      section.kg-pagefly-image-home-section-new .kg-inner-hero-content img {
          width: 100%;
          height: calc(100vh - 95px);
          object-fit: cover;
      }
      section.kg-pagefly-image-home-section-new .kg-inner-hero-content .kg-mobile-image {
          display: none;
      }
      @media screen and (max-width: 767px){
          section.kg-pagefly-image-home-section-new .kg-inner-hero-content .kg-mobile-image {
          display: block;
      }
      section.kg-pagefly-image-home-section-new .kg-inner-hero-content .kg-desktop-image {
          display: none;
      }

        section.kg-pagefly-image-home-section-new .kg-inner-hero-content img {
          height: calc(100vh - 77px);
          object-fit: cover;
      } 
      }
</style>


    {% schema %}
{
  "name": "New Home Banner Demo ",
  "settings": [
    {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image"
    },
    {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
    }
  ],
 
  "presets": [
    {
      "name": "New Home Banner Demo",
      
    }
  ]
}
{% endschema %}