<section class="kg-pagefly-image-home-section">
    <div class="kg-inner-hero-content">
        <div class="page-width">
            {% if section.settings.desktop_image != blank %}
            <div class="kg-desktop-image">
                {{
                  section.settings.desktop_image
                  | image_url: width: 1800
                  | image_tag:
                    loading: 'eager',
                    fetchpriority: 'high',
                    sizes: '100vw',
                    widths: '375, 550, 750, 1100, 1500, 1800',
                    alt: section.settings.desktop_image.alt | default: 'World Order'
                }}
            </div>
            {% endif %}
             {% if section.settings.mobile_image != blank %}
              <div class="kg-mobile-image">
                {{
                  section.settings.mobile_image
                  | image_url: width: 750
                  | image_tag:
                    loading: 'eager',
                    fetchpriority: 'high',
                    sizes: '100vw',
                    widths: '375, 550, 750',
                    alt: section.settings.mobile_image.alt | default: 'World Order'
                }}
            </div>
        {% endif %}
        </div>
    </div>
</section>




    {% schema %}
{
  "name": "Home Banner",
  "settings": [
    {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image"
    },
    {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
    }
  ],
 
  "presets": [
    {
      "name": "Home Banner"
    }
  ]
}
{% endschema %}